*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.menu {
    background: darkseagreen;
    width: 100%;
    height: 100px;
    display: grid;
	grid-template-areas:
	"picture premium contacts profile search";
	grid-gap: 8px;
	justify-items: left;
}
.logo{
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 100px;
   cursor: pointer;
   width: 150px;
   height: 100px;
}
.menu .logo{
    float: left;
}
.name{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.menu-block{
    margin: 35px 0px 0px 0px;
    padding-left: 0px;
    cursor: pointer;
}
.item
{
    height: 700px;
}
.help {
    background: darkseagreen;
    width: 100%;
    height: 300px;
    display: grid;
	grid-template-areas:
	"help faq";
	grid-gap: 10px;
	justify-items:center;
}
.help-block{
    cursor: pointer;
}